.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {

    -fx-background-color: transparent;

    -fx-border-style: hidden;

}

.scroll-pane .corner {
    -fx-border-insets: 23;

    -fx-background-insets: 23;

    -fx-background-radius: 6;

    -fx-border-radius: 6;

    -fx-border-color: transparent;

    -fx-border-style: hidden;

    -fx-border-width: 1;

    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}

.shortcut-button {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.shortcut-button:pressed {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, black 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: darkgrey;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.shortcut-button:hover {
    -fx-background-radius: 10;

}

.configTable {
    -fx-background-radius: 20;
}

.configTable .column-header {
    -fx-background-radius: 20;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}

.configPane {
    -fx-background-color: radial-gradient(
            focus-angle 45deg ,
            focus-distance 20% ,
            center 25% 25% ,
            radius 50% ,
            reflect,
            #808080,
            #a9a9a9 75% ,
            #696969);
}

.otherPane {

    -fx-border-insets: 23;

    -fx-background-insets: 23;

    -fx-background-radius: 6;

    -fx-background-color: radial-gradient(
            focus-angle 45deg ,
            focus-distance 20% ,
            center 25% 25% ,
            radius 50% ,
            reflect,
            #808080,
            #a9a9a9 75% ,
            #696969);

    -fx-border-radius: 6;

    -fx-border-color: gray;

    -fx-border-style: solid;

    -fx-border-width: 1;

    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);

}
